/data/
/embedded_data/
/ann/
temp.py
/.idea
/Embeddings
/db
/splitter
/index
/outputs
/__pycache__
/embedder/__pycache__
/webapp/__pycache__
/webapp_controller/__pycache__
__pycache__
/Embeddings
/db
/index/
/outputs/
/Embeddings
/inputs
/outputs_full_match
/outputs_partial_match