{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to {% endblock %}<img src="static/img/logo.png" alt="logo" width="150" height="150"/></h1>
<h2 style="text-align:center">What is SimDocSin ?</h2>
<div>
<p>
   <br><br> 
   SimDocSin is a cross-lingual document similarity checking tool for Sinhala and English.
   <br><br>
   Creators:- Udhan Isuranga  (udhanisuranga.16@cse.mrt.ac.lk)<br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Janaka Sandaruwan  (janakasadaruwan.16@cse.mrt.ac.lk) <br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Udesh Athukorala  (udeshathukorala.16@cse.mrt.ac.lk)<br>
</p>
</div>

{% endblock %}